body{
  background-color: rgb(235, 236, 236);
    }
    form{
        background-color: rgba(224, 225, 225, 0.839);
        padding: 10px;
        margin: 100px auto;
        width: 400px;

}